@import url("https://fonts.googleapis.com/css?family=Molle:400i");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

body {
  background-image: url("../img/hair.png"); }

button {
  position: absolute;
  top: 430px;
  left: 240px;
  padding: 1.5em;
  background: none;
  border: 1px solid black; }
  button:hover {
    background: #ED6879;
    opacity: .5; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }

h2 {
  font-family: "Molle", cursive;
  font-size: 1em;
  text-align: center; }

div {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0; }

footer {
  text-align: center;
  margin-top: 20em;
  font-family: "Molle", cursive; }

.cardOne {
  background: blue;
  width: auto;
  height: 500px;
  display: block;
  position: relative; }

.cardOne::after {
  content: "";
  background-image: url("../img/pink.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.cardTwo {
  background: green;
  width: auto;
  height: 500px;
  display: block;
  position: relative; }

.cardTwo::after {
  content: "";
  background-image: url("../img/lips.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.cardThree {
  background: pink;
  width: auto;
  height: 500px;
  display: block;
  position: relative; }

.cardThree::after {
  content: "";
  background-image: url("../img/skin.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.cardFour {
  background: purple;
  width: auto;
  height: 500px;
  display: block;
  position: relative; }

.cardFour::after {
  content: "";
  background-image: url("../img/face.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.text {
  background-color: #abe9ff;
  position: relative;
  top: 20px;
  width: 100px;
  padding: 1em;
  border-radius: 90%; }

.row {
  margin-top: 20em; }

.wrapper {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

[class*='column-'] {
  float: left;
  padding: 3em;
  width: 100%;
  min-height: 100px; }

@media only screen and (min-width: 480px) {
  .wrapper {
    width: 100%;
    max-width: 90em; }

  .column-3 {
    width: 25%; } }
@media only screen and (max-width: 490px) {
  .wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .wrapper::after {
      clear: both;
      content: "";
      display: table; }

  .row {
    margin-top: 0; }

  footer {
    margin: 0; } }

/*# sourceMappingURL=application.css.map */
