@import url("https://fonts.googleapis.com/css?family=Molle:400i|Unica+One");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

footer, h1, h2, p {
  text-align: center; }

.cardOne, .cardTwo, .cardThree, .cardFour, .cardInfo {
  width: auto;
  height: 600px;
  display: block;
  position: relative; }

.cardOne::after, .cardTwo::after, .cardThree::after, .cardFour::after, .cardInfo::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

div {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0; }

button:hover, .text:hover {
  opacity: .5; }

footer {
  margin-top: 3.5em;
  font-family: "Molle", cursive; }

header {
  background-color: #84DCC6;
  opacity: .5; }

button {
  display: block;
  font-family: "Unica One", cursive;
  position: absolute;
  top: 520px;
  left: 240px;
  padding: 1.5em;
  background: none;
  border: 1px solid black; }
  button:hover {
    background: #FFFFFF; }

body {
  background-image: url("../img/hair.png"); }

h1 {
  font-family: "Molle", cursive; }

h2 {
  font-family: "Molle", cursive;
  font-size: 1em; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }

p {
  font-family: "Unica One", cursive;
  padding: 1em; }

.cardOne {
  background: blue; }
  .cardOne::after {
    background-image: url("../img/pink.jpg"); }

.cardTwo {
  background: green; }
  .cardTwo::after {
    background-image: url("../img/lips.jpg"); }

.cardThree {
  background: #ED6879; }
  .cardThree::after {
    background-image: url("../img/skin.jpg"); }

.cardFour {
  background: purple; }
  .cardFour::after {
    background-image: url("../img/face.jpg"); }

.column {
  float: left;
  padding: 3em;
  width: 100%;
  min-height: 100px; }

.info {
  display: block;
  width: 250px; }

.text {
  display: block;
  background-color: #abe9ff;
  position: relative;
  top: 5px;
  width: 150px;
  padding: 1.5em;
  border-radius: 90%; }

.row {
  margin-top: 3.5em; }

.wrapper {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.wrapper::after,
.row::after {
  clear: both;
  content: "";
  display: table; }

@media only screen and (max-width: 1270px) {
  button {
    display: none; }

  .text {
    display: none; } }
@media only screen and (max-width: 490px) {
  .wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .wrapper::after {
      clear: both;
      content: "";
      display: table; }

  .row {
    margin-top: 0; }

  button {
    display: block; }

  .text {
    display: block; }

  footer {
    margin: 0; } }
@media only screen and (min-width: 480px) {
  .wrapper {
    width: 100%;
    max-width: 90em; }

  .column {
    width: 25%; } }

/*# sourceMappingURL=application.css.map */
