@import url('https://fonts.googleapis.com/css?family=Molle:400i');

body {
  background-image: url('#{$path-img}/hair.png');
}

button {
  position: absolute;
  top: 430px;
  left: 240px;
  padding: 1.5em;
  background: none;
  border: 1px solid black;
  &:hover {
    background: $hotpink;
    opacity: .5;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

h2 {
  font-family: $stack-molle;
  font-size: 1em;
  text-align: center;
}

div {
  // background-color: white;
  // opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

footer {
  text-align: center;
  margin-top: 20em;
  font-family: $stack-molle;
}

.cardOne {
  background: blue;
  width: auto;
  height: 500px;
  display: block;
  position: relative;
}

.cardOne::after {
  content: "";
  background-image: url('#{$path-img}/pink.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.cardTwo {
  background: green;
  width: auto;
  height: 500px;
  display: block;
  position: relative;
}

.cardTwo::after {
  content: "";
  background-image: url('#{$path-img}/lips.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.cardThree {
  background: pink;
  width: auto;
  height: 500px;
  display: block;
  position: relative;
}

.cardThree::after {
  content: "";
  background-image: url('#{$path-img}/skin.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.cardFour {
  background: purple;
  width: auto;
  height: 500px;
  display: block;
  position: relative;
}

.cardFour::after {
  content: "";
  background-image: url('#{$path-img}/face.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.text {
  background-color: hue($discoball, 60%);
  position: relative;
  top: 20px;
  width: 100px;
  padding: 1em;
  border-radius: 90%;
}

.row {
  margin-top: 20em;
}

.wrapper {
  @include outer-container(85%);
}

.wrapper,
.row {
    @extend %clearfix;
}

[class*='column-'] {
  float: left;
  padding: 3em;
  width: 100%;
  min-height: 100px;
}

@media only screen and (max-width: 1405px) {

}

@media only screen and (min-width: 480px) {
  .wrapper {
    width: 100%;
    max-width: 90em;
    }

  .column-3 {
      width: 25%;
    }

}

@media only screen and (max-width: 490px) {
  .wrapper {
    @include outer-container(100%);
  }

  .row {
    margin-top: 0;
  }

  footer {
    margin: 0;
  }
}
