@import url('https://fonts.googleapis.com/css?family=Molle:400i');

body {
  background-image: url('#{$path-img}/hair.png');
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

h1 {
  @extend %centered;
  font-family: $stack-molle;
}

h2 {
  @extend %centered;
  font-family: $stack-molle;
  font-size: 1em;
}

div {
  @extend %position;
}

.cardOne {
  @extend %columns;
  background: blue;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/pink.jpg');
  }
}

.cardTwo {
  @extend %columns;
  background: green;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/lips.jpg');
  }
}

.cardThree {
  @extend %columns;
  background: $hotpink;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/skin.jpg');
  }
}

.cardFour {
  @extend %columns;
  background: purple;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/face.jpg');
  }
}

.column {
  float: left;
  padding: 3em;
  width: 100%;
  min-height: 100px;
}

.text {
  background-color: hue($discoball, 60%);
  position: relative;
  top: 5px;
  width: 150px;
  padding: 1.5em;
  border-radius: 90%;
  &:hover{
    @extend %opacity;
  }
}

.row {
  margin-top: 15em;
}

.wrapper {
  @include outer-container(85%);
}

.wrapper,
.row {
  @include clearfix;
}

@media only screen and (min-width: 480px) {
  .wrapper {
    width: 100%;
    max-width: 90em;
    }

  .column {
      width: 25%;
    }

}

@media only screen and (max-width: 490px) {
  .wrapper {
    @include outer-container(100%);
  }

  .row {
    margin-top: 0;
  }

  footer {
    margin: 0;
  }
}
