img {
  width: auto;
  max-width: 100%;
  height: auto;
}

div {
  margin: 1em auto;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='column-'] {
  background-color: $discoball;
  float: left;
  padding: 5em;
  width: 100%;
  min-height: 1px;
}

@media only screen and (min-width: 30em) {
  .column-3 {
     width: 25%;
     }
}
