// Colors
$discoball: #2DC7FF;
$hotpink: #ED6879;
$pearl: #84DCC6;
$white: #FFFFFF;
$blue: blue;
$green: green;
$purple: purple;

// Grid Variables
$grid-columns: 12;

// Asset Paths
 $path-img: '../img';

 // Font Stacks
$stack-molle: 'Molle', cursive;
$stack-unica: 'Unica One', cursive;
